<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" href="Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <header>
        <a href="#" class="logo"><i class="fas fa-utensils"></i>ChiChi.</a>
        <nav class="navbar">
            <a class="active" href="#home">home</a>
            <a href="#dishes">dishes</a>
            <a href="#about">about</a>
            <a href="#menu">menu</a>
            <a href="#review">review</a>
            <a href="#order">order</a>
        </nav>

        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
        </div>
    </header> -->
    <form action="" id="search-form">
        <input type="search" placeholder="search here..." name="" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>


    <section class="home" id="home">
        <div class="swiper mySwiper home-slider">
            <div class="swiper-wrapper wrapper">
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dishes</span>
                        <h3>spicy noodles</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim eaque u
                        </p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="./images/img2.jpg" alt="logo" width="450px" height="350px">
                    </div>

                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dishes</span>
                        <h3>spicy noodles</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim eaque ut ullam .</p>

                        <a href="#" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="./images/img3.jpeg" alt="logo" width="450px" height="350px">
                    </div>

                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dishes</span>
                        <h3>amala, ewedu & ogufe meat</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim eaque ut
                        </p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="./images/img4.jpeg" alt="logo" width="450px" height="350px">
                    </div>

                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dishes</span>
                        <h3>eba & mellon soup</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim eaque ut ullam
                            .</p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="./images/img5.jpeg" alt="logo" width="450px" height="350px">
                    </div>

                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dishes</span>
                        <h3>spicy noodles</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim eaque ut ullam
                            .</p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="./images/img7.jpeg" alt="logo" width="450px" height="350px">
                    </div>

                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dishes</span>
                        <h3>spicy noodles</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim eaque ut ullam
                            .</p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="./images/img8.jpeg" alt="logo" width="450px" height="350px">
                    </div>

                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dishes</span>
                        <h3>spicy noodles</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim eaque ut ullam
                            .</p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="./images/img9.jpeg" alt="logo" width="450px" height="350px">
                    </div>

                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>our special dishes</span>
                        <h3>spicy noodles</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim eaque ut ullam
                            .</p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    <div class="image">
                        <img src="./images/img10.jpeg" alt="logo" width="450px" height="350px">
                    </div>

                </div>
            </div>
            <div class="swiper-pagination"></div>

        </div>
    </section>
    <section class="dishes" id="dishes">
        <h3 class="sub-heading">our dishes</h3>
        <h1 class="heading">popular dishes</h1>
        <div class="box-container">
            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/img12.jpeg" alt="">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>#1000</span>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/img13.jpeg" alt="">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>#1000</span>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/img14.jpeg" alt="">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>#1000</span>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/img21.jpeg" alt="">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>#1000</span>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/img16.jpeg" alt="">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>#1000</span>
                <a href="#" class="btn">add to cart</a>
            </div>
            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./images/img17.jpeg" alt="">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>#1000</span>
                <a href="#" class="btn">add to cart</a>
            </div>
        </div>

    </section>
    <section class="about" id="about">
        <h3 class="sub-heading">about us</h3>
        <h1 class="heading">why choose us</h1>
        <div class="row">
            <div class="image">
                <img src="./images/img21.jpeg" alt="logo">
            </div>
            <div class="content">
                <h3>best food in the country</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, rerum soluta? Dolor a eveniet
                    officiis modi aut, quis impedit iusto ipsam repellat asperiores </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus aliquid explicabo dolore,
                    tempora corporis, exercitationem doloremque sapiente magnam tempore ipsam nesciunt </p>
                <div class="icons-container">
                    <div class="icons">
                        <i class="fas fa-shipping-fast"></i>
                        <span>free delivery</span>
                    </div>
                    <div class="icons">
                        <i class="fas fa-dollar-sign"></i>
                        <span>easy payment</span>
                    </div>
                    <div class="icons">
                        <i class="fas fa-headset"></i>
                        <span>24/7 service</span>
                    </div>
                </div>
                <a href="#" class="btn">learn more</a>
            </div>
        </div>
    </section>
    <section class="menu" id="menu">
        <h3 class="sub-heading">our menu</h3>
        <h1 class="heading">today's speciality</h1>
        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="./images/img20.jpeg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nostru</p>
                    <a href="#" class="btn">add to cart</a>
                    <span class="pice">$12.99</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="./images/img27.jpeg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nostru</p>
                    <a href="#" class="btn">add to cart</a>
                    <span class="pice">$12.99</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="./images/img22.jpeg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nostru</p>
                    <a href="#" class="btn">add to cart</a>
                    <span class="pice">$12.99</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="./images/img10.jpeg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nostru</p>
                    <a href="#" class="btn">add to cart</a>
                    <span class="pice">$12.99</span>
                </div>
            </div>
            
            <div class="box">
                <div class="image">
                    <img src="./images/img12.jpeg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nostru</p>
                    <a href="#" class="btn">add to cart</a>
                    <span class="pice">$12.99</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="./images/img17.jpeg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nostru</p>
                    <a href="#" class="btn">add to cart</a>
                    <span class="pice">$12.99</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="./images/img18.jpeg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nostru</p>
                    <a href="#" class="btn">add to cart</a>
                    <span class="pice">$12.99</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="./images/img10.jpeg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nostru</p>
                    <a href="#" class="btn">add to cart</a>
                    <span class="pice">$12.99</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="./images/img3.jpeg" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>delicious food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nostru</p>
                    <a href="#" class="btn">add to cart</a>
                    <span class="pice">$12.99</span>
                </div>
            </div>
        </div>
    </section>
    <section class="review" id="review">
        <h3 class="sub-heading">customer's review</h3>
        <h1 class="heading">what they say</h1>
        <div class="swiper-container review-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./images/img34.jpg" alt="">
                        <div class="user-info">
                            <h3>Elizabeth Olaniyi</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Repudiandae officiis in hic inventore, totam molestiae incidunt quia sint? Temporibus esse ipsa placeat ducimus.
                         Sequi dignissimos laudantium, deleniti maiores incidunt magni?</p>
                </div>
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./images/img32.jpg" alt="">
                        <div class="user-info">
                            <h3>Damilola <br>Ajayi</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Repudiandae officiis in hic inventore, totam molestiae incidunt quia sint? Temporibus esse ipsa placeat ducimus.
                         Sequi dignissimos laudantium, deleniti maiores incidunt magni?</p>
                </div>
               
                
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./images/img35.jpg" alt="">
                        <div class="user-info">
                            <h3>Olubayo Favour</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Repudiandae officiis in hic inventore, totam molestiae incidunt quia sint? Temporibus esse ipsa placeat ducimus.
                         Sequi dignissimos laudantium, deleniti maiores incidunt magni?</p>
                </div>
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./images/img36.jpg" alt="">
                        <div class="user-info">
                            <h3>Ifeanyi<br> Oluchi</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Repudiandae officiis in hic inventore, totam molestiae incidunt quia sint? Temporibus esse ipsa placeat ducimus.
                         Sequi dignissimos laudantium, deleniti maiores incidunt magni?</p>
                </div>
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./images/img38.jpg" alt="">
                        <div class="user-info">
                            <h3>Precious<br> Bamidele</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Repudiandae officiis in hic inventore, totam molestiae incidunt quia sint? Temporibus esse ipsa placeat ducimus.
                         Sequi dignissimos laudantium, deleniti maiores incidunt magni?</p>
                </div>
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./images/img39.jpg" alt="">
                        <div class="user-info">
                            <h3>Temitayo<br> Ogunsusi</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Repudiandae officiis in hic inventore, totam molestiae incidunt quia sint? Temporibus esse ipsa placeat ducimus.
                         Sequi dignissimos laudantium, deleniti maiores incidunt magni?</p>
                </div>
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./images/img40.jpg" alt="">
                        <div class="user-info">
                            <h3>Ayomide<br> Hazanna</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Repudiandae officiis in hic inventore, totam molestiae incidunt quia sint? Temporibus esse ipsa placeat ducimus.
                         Sequi dignissimos laudantium, deleniti maiores incidunt magni?</p>
                </div>
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./images/img41.jpg" alt="">
                        <div class="user-info">
                            <h3>Ayooluwa<br> Akinrinola</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Repudiandae officiis in hic inventore, totam molestiae incidunt quia sint? Temporibus esse ipsa placeat ducimus.
                         Sequi dignissimos laudantium, deleniti maiores incidunt magni?</p>
                </div>
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./images/img42.jpg" alt="">
                        <div class="user-info">
                            <h3>Chidinma<br> Ifeanyi</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Repudiandae officiis in hic inventore, totam molestiae incidunt quia sint? Temporibus esse ipsa placeat ducimus.
                         Sequi dignissimos laudantium, deleniti maiores incidunt magni?</p>
                </div>
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="./images/img44.jpg" alt="">
                        <div class="user-info">
                            <h3>Victor<br> Okiki</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Repudiandae officiis in hic inventore, totam molestiae incidunt quia sint? Temporibus esse ipsa placeat ducimus.
                         Sequi dignissimos laudantium, deleniti maiores incidunt magni?</p>
                </div>
                
            </div>
        </div>

    </section>
    <section class="order" id="order">
        <h3 class="sub-heading">order now</h3>
        <h1 class="heading">free and fast</h1>
        <form action="">
            <div class="inputBox">
                <div class="input">
                    <span>your name</span>
                    <input type="text" placeholder="enter your name">
                </div>
                <div class="input">
                    <span>your number</span>
                    <input type="number" placeholder="enter your number">
            </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <span>your order</span>
                    <input type="text" placeholder="enter food name">
                </div>
                <div class="input">
                    <span>additional food</span>
                    <input type="text" placeholder="extra with food">
            </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <span>how much</span>
                    <input type="number" placeholder="how many orders ">
                </div>
                <div class="input">
                    <span>date and time</span>
                    <input type="datetime-local">
            </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <span>your address</span>
                    <textarea name="" placeholder="enter your address" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="input">
                    <span>your message</span>
                    <textarea name="" placeholder="enter your message" id="" cols="30" rows="10"></textarea>
            </div>
            </div>
            <input type="submit" value="order now" class="btn">
        </form>
    </section>
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>locations</h3>
                <a href="#">india</a>
                <a href="#">japan</a>
                <a href="#">russia</a>
                <a href="#">USA</a>
                <a href="#">france</a>
            </div>
            <div class="box">
                <h3>quick links</h3>
                <a href="#">home</a>
                <a href="#">dishes</a>
                <a href="#">about</a>
                <a href="#">menu</a>
                <a href="#">review</a>
                <a href="#">order</a>
            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href="#">+234-90942-23222</a>
                <a href="#">+234-90942-23222</a>
                <a href="#">joshua2016@gmail.com</a>
                <a href="#">joshua2016@gmail.com</a>
                <a href="#">england, ireland - 3000333</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
                <a href="#">instagram</a>
                <a href="#">linkedin</a>
            
        </div>
        </div>
        <div class="credit">copyright @ 2023 by <span>BjCode</span></div>
    </section>










    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="Home.js"></script>
</body>

</html>